body 
{
	background-color: #FFF;
   margin-right: auto;
   margin-left: auto;
   margin-top:0;
   font-family:微軟正黑體;
}
/*--table_gray------------------------------------------*/
.table_gray
{
   background-color:#989898;
   border-collapse : collapse;
   border-color: #CECECE; 
   border-style: solid;
}

.table_gray_bg
{
	background-color: #989898;
}

.table_gray .title_2c
{
	text-align:right;
	width:140px;
	padding-right:6px;
	background-color:RGB(223,223,223);
	height:30px;
	border-bottom-color:#CCCCCC;
}

.table_gray .text_2c
{
	text-align:left;
	width:229.5px;
	padding-left:6px;
	background-color:RGB(251,247,244);
	height:30px;
	border-bottom-color:#CCCCCC;
}

.table_gray .title_3c
{
	text-align:right;
	width:90px;
	padding-right:6px;
	background-color:RGB(235,247,243);
	height:25px;
}

.table_gray .text_3c
{
	text-align:left;
	width:152.3px;
	padding-left:6px;
	background-color:RGB(251,247,244);
	height:25px;
}

.table_gray .title_more
{
	text-align:right;
	padding-right:6px;
	background-color:RGB(235,247,243);
	height:25px;
}

.table_gray .text_more
{
	text-align:left;
	padding-left:6px;
	background-color:RGB(251,247,244);
	height:25px;
}
/*---table_green-----------------------------------------*/
.table_green
{
   background-color:Green;	
}

.table_green_bg
{
	background-color: Green;
}

.table_green .title_2c
{
	text-align:right;
	width:200px;
	padding-right:6px;
	background-color:RGB(223,223,223);
	height:26px;
}

.table_green .text_2c
{
	text-align:left;
	width:278px;
	padding-left:6px;
	background-color:RGB(251,247,244);
	height:25px;
}

.table_green .title_3c
{
	text-align:right;
	width:140px;
	padding-right:6px;
	background-color:RGB(235,247,243);
	height:25px;
}

.table_green .text_3c
{
	text-align:left;
	width:146px;
	padding-left:6px;
	background-color:RGB(251,247,244);
	height:25px;
}

.table_green .title_more
{
	text-align:right;
	padding-right:6px;
	background-color:RGB(235,247,243);
	height:25px;
}

.table_green .text_more
{
	text-align:left;
	padding-left:6px;
	background-color:RGB(251,247,244);
	height:25px;
}

.table_blue_bg
{
	background-color: RGB(60,110,212);
}

/*--------table lightblue------------------------------------------------*/

/*青色表格底色設定*/
.bluegreen_bg
{
	background-color:#01D5B4;
	border-collapse:collapse;
	border: 0px;
	/*width:797px;*/
}

/*青色表格底色設定_no_pic*/
.bluegreen_tb_deep_more
{
	border-collapse:collapse;
	background-color:#8BEADB;
	height: 26px;	
	text-align:left;
	padding-left:10px;
	font-size:13px;
}



/*青色表格兩欄標題字型顏色設定*/
.bluegreen_tb_title_2c
{
	border-collapse:collapse;
	background-color:#E8FFFC;
	width:16%;
	height: 26px;	
	text-align:right;
	font-size:13px;
}

/*青色表格兩欄內容字型顏色設定*/
.bluegreen_tb_text_2c
{	
	border-collapse:collapse;
	width:34%;
	background-color:#FFFFFF;
	font-size:13px;
	letter-spacing:-1px;
	height: 26px;
	padding-left:2px;

}

/*青色表格三欄標題字型顏色設定*/
.bluegreen_tb_title_3c
{
	border-collapse:collapse;
	background-color:#E8FFFC;
	width:11%;
	height: 26px;
	text-align:right;
	font-size:13px;
	
}

/*青色表格三欄內容字型顏色設定*/
.bluegreen_tb_text_3c
{	
	border-collapse:collapse;
	width:22%;
	background-color:#FFFFFF;
	font-size:13px;
	height: 26px;
	padding-left:2px;

}

/*青色表格多欄標題字型顏色設定*/
.bluegreen_tb_title_more
{	
	border-collapse:collapse;
	background-color:#E8FFFC;
	text-align:right;
	font-size:13px;
	height: 26px;
	 padding-right:6px;

}

/*青色表格多欄內容字型顏色設定*/
.bluegreen_tb_text_more
{	
	border-collapse:collapse;
	background-color:#FFFFFF;
	font-size:13px;
	height: 26px;
	padding-left:2px;
}


/*青色表格標題左欄*/
.bluegreen_tb_left_pic
{
	border-collapse: collapse;
	border: 0px;
	width:340px;
	height: 30px;
	background-image: url(/Gsi_Inside_Web/Images/CSS/table6_title_l.jpg);
	font-size: 13px;
	font-weight: bold;
	color: black;
	text-align: left;
	vertical-align:bottom;
	padding-left:10px;
	padding-bottom:4px;
}
/*青色表格標題中欄*/
.bluegreen_tb_mid_pic
{
	border-collapse: collapse;
	border: 0px;	
	font-size: 13px;
	background-image:url(/Gsi_Inside_Web/Images/CSS/table6_title_m.jpg);
}

/*青色表格標題右欄(*必填欄位)*/
.bluegreen_tb_right_pic
{
    background-position:right;
	border-collapse: collapse;
	border: 0px;
	width:150px;
	background-image:url(/Gsi_Inside_Web/Images/CSS/table6_title_r.jpg); 
	font-size:12px; 
	color:#D90000;
	text-align:right;
}

/*淺藍色表格多欄標題字型顏色設定*/
.lightblue_tb_title_more
{	
    background-color:#C5E2F9;
    width:140px;
    text-align:right;
    height:30px;
    padding-left:6px;
    padding-right:6px;
}

/*淺藍色表格多欄內容字型顏色設定*/
.lightblue_tb_text_more
{	
    width:229.5px;
    padding-left:6px;
    padding-right:6px;
    height:30px;
}

/*淺粉紅色表格多欄標題字型顏色設定*/
.lightpink_tb_title_more
{	
    background-color:#FF6464;
    width:140px;
    text-align:right;
    height:30px;
    padding-left:6px;
    padding-right:6px;
}

/*淺粉紅色表格多欄內容字型顏色設定*/
.lightpink_tb_text_more
{	
    width:229.5px;
    padding-left:6px;
    padding-right:6px;
    height:30px;
}

/*淺黃色表格多欄標題字型顏色設定*/
.lightyellow_tb_title_more
{	
    background-color:#FCF865;
    width:140px;
    text-align:right;
    height:30px;
    padding-left:6px;
    padding-right:6px;
}

/*淺黃色表格多欄內容字型顏色設定*/
.lightyellow_tb_text_more
{	
    width:229.5px;
    padding-left:6px;
    padding-right:6px;
    height:30px;
}
/*-------------------------------------------------------------------------------*/

/*黃色表格標題左欄*/
.yellow_tb_left_pic
{
	border-collapse: collapse;
	border: 0px;
	width: 340px;
	height: 30px;
	background-image: url(/Gsi_Inside_Web/Images/CSS/table2_title_l.jpg);
	font-size: 13px;
	font-weight: bold;
	color: black;
	text-align: left;
	vertical-align:bottom;
	padding-left:10px;
	padding-bottom:4px;
}
/*黃色表格標題中欄*/
.yellow_tb_mid_pic
{
	border-collapse: collapse;
	border: 0px;
	background-image:url(/Gsi_Inside_Web/Images/CSS/table2_title_m.jpg);
	padding:0px;
	font-size: 13px;
}
/*黃色表格標題右欄(*必填欄位)*/
.yellow_tb_right_pic
{
    background-position:right;
	border-collapse: collapse;
	border: 0px;
	width:100px;
	background-image:url(/Gsi_Inside_Web/Images/CSS/table2_title_r.jpg); 
	font-size:12px; 
	color:#D90000;
	text-align:right;
	padding:0px;
	
}

/*--------------------------------------------------------*/
/*黃色表格底色設定*/
.yellow_bg
{
	background-color:#FFCC00;
	border-collapse:collapse;
	border: 0px;
}

/*黃色表格底色設定_no_pic*/
.yellow_tb_deep_more
{
	border-collapse:collapse;
	background-color:#FEDF61;
	height: 26px;	
	padding-left:10px;
	text-align:left;
	font-size:13px;
}


/*黃色表格兩欄標題字型顏色設定*/
.yellow_tb_title_2c
{
	border-collapse:collapse;
	background-color:#FFEB9C;
	width:16%;
	height: 26px;
	text-align:right;
	font-size:13px;
	padding-left:2px;
	
}

/*黃色表格兩欄內容字型顏色設定*/
.yellow_tb_text_2c
{	
	border-collapse:collapse;
	width:34%;
	background-color:#FFFFFF;
	font-size:13px;
	padding-left:2px;
	letter-spacing:-1px;
	height: 26px;
	padding-left:2px;
}

/*黃色表格三欄標題字型顏色設定*/
.yellow_tb_title_3c
{
	border-collapse:collapse;
	background-color:#FFEB9C;
	width:11%;
	height: 26px;
	text-align:right;
	font-size:13px;
}

/*黃色表格三欄內容字型顏色設定*/
.yellow_tb_text_3c
{	
	border-collapse:collapse;
	width:22%;
	background-color:#FFFFFF;
	font-size:13px;
	padding-left:2px;
	height: 26px;
	padding-left:2px;
}

/*黃色表格多欄標題字型顏色設定*/
.yellow_tb_title_more
{
	border-collapse:collapse;
	background-color:#FFEB9C;
	border-color:#FFCC00;
	text-align:center;
	font-size:13px;
	padding-left:2px;
	height: 26px;
}


.yellow_tb_no_align_more
{
	border-collapse:collapse;
	background-color:#FFEB9C;
	border-color:#FFCC00;
	font-size:13px;
	padding-left:2px;
	height: 26px;
}



/*黃色表格多欄內容字型顏色設定*/
.yellow_tb_text_more
{	
	border-collapse:collapse;
	background-color:#FFFFFF;
	border-color:#FFCC00;
	font-size:13px;
	padding-left:2px;
	height: 26px;
	padding-left:2px;
}

/*黃色表格多欄標題字型顏色設定變淡*/
.yellow_tb_title_light
{
	border-collapse:collapse;
	background-color:#FFF3CC;
	font-size:13px;
	vertical-align:bottom;
	height: 26px;
	
}


/*-------------------------------------------------------------------------------*/

.table_head_blue_left
{
    border:1px solid; 
    border-color: #CECECE; 
    padding:20px 10px 10px 10px; 
    margin-top:20px;
    border-style: solid;
    /*
	border-collapse: collapse;
	border: 0px;
	width: 200px;
	height: 24px;
	background-image: url(/CACI/Image/table_head_blue_left.jpg);
	background-repeat:repeat-x;
	font-size: 14px;
	font-weight: bold;
	color: black;
	text-align: left;
	vertical-align:bottom;
	padding-left:10px;
	padding-bottom:6px;
    */
}

.table_head_blue_mid
{
    /*
	border-collapse: collapse;
	border: 0px;
	background-image:url(/CACI/Image/table_head_blue_mid.jpg);
	background-repeat:repeat-x;
	padding:0px;
	height: 24px;
	font-size: 13px;	
*/
}

.table_head_blue_right
{
    /*
	background-position:top;
	background-image:url(/CACI/Image/table_head_blue_right.jpg); 
	background-repeat:no-repeat;
	border-collapse: collapse;
	border: 0px;
	width:226px;
	height: 24px;
	font-size:12px; 
	color:#D90000;
	text-align:right;
	padding:0px;
    */
}

/*藍色表格資料區域*/
.table_data_blue
{
		
}

.table_data_blue_head
{
	background-color:RGB(126,206,244);
	border-bottom-width:1px;
	border-bottom-color:RGB(126,206,244);
	border-right-width:1px;
	border-right-color:RGB(126,206,244);
	border-top-width:1px;
	border-top-color:RGB(126,206,244);
}

.table_data_blue_head a
{
	color:Maroon;
}

.table_data_blue_head_fun_left
{
	background-color:RGB(126,206,244);
	border-bottom-width:1px;
	border-bottom-color:RGB(126,206,244);
	border-left-width:1px;
	border-left-color:RGB(126,206,244);
	border-right-width:0px;
	height:35px;
}

.table_data_blue_head_fun_mid
{
	background-color:RGB(126,206,244);
	border-bottom-width:1px;
	border-bottom-color:RGB(126,206,244);
	border-top-width:1px;
	border-top-color:RGB(126,206,244);
	border-left-width:0px;
	border-right-width:0px;
	height:35px;
}

.table_data_blue_head_fun_right
{
	background-color:RGB(126,206,244);
	border-bottom-width:1px;
	border-bottom-color:RGB(126,206,244);
	border-right-width:1px;
	border-right-color:RGB(126,206,244);
	border-top-width:1px;
	border-top-color:RGB(126,206,244);
	border-left-width:0px;
	height:35px;
}

.table_data_blue_data
{
	background-color:RGB(251,247,244);
	text-align:center;
	height: 35px;
	font-size:13px;
	padding-left:2px;
	border-collapse:collapse;
	border-color:RGB(60,110,212);
	border-bottom-width:1px;
	border-bottom-color:RGB(126,206,244);
	border-right-width:1px;
	border-right-color:RGB(126,206,244);
}

.table_data_blue_data_fun_left
{
	background-color:RGB(251,247,244);
	border-bottom-width:1px;
	border-bottom-color:RGB(60,110,212);
	border-left-width:1px;
	border-left-color:RGB(60,110,212);
	border-right-width:0px;
	border-right-color:#FFCC00; 
	text-align:center;
	padding-top:6px;
}
.table_data_blue_data_fun_mid
{
	background-color:RGB(251,247,244);
	border-bottom-width:1px;
	border-bottom-color:RGB(60,110,212);
	border-right-width:0px;
	border-right-color:#FFCC00;
	border-left-width:0px;
	border-left-color:#FFCC00; 
	text-align:center;
	padding-top:6px;
}
.table_data_blue_data_fun_right
{
	background-color:RGB(251,247,244);
	border-bottom-width:1px;
	border-bottom-color:RGB(60,110,212);
	border-right-width:1px;
	border-right-color:RGB(60,110,212);
	border-left-width:0px;
	border-left-color:#FFCC00; 
	text-align:center;
	padding-top:6px;
}

/*綠色表格資料區域*/
.table_head_green_left
{
	border-collapse: collapse;
	border: 0px;
	width: 700px;
	height: 24px;
	background-image: url(/CACI/Image/table_head_green_left.jpg);
	background-repeat:repeat-x;
	font-size: 14px;
	font-weight: bold;
	color: black;
	text-align: left;
	vertical-align:bottom;
	padding-left:10px;
	padding-bottom:6px;
}

.table_head_green_mid
{
	border-collapse: collapse;
	border: 0px;
	background-image:url(/CACI/Image/table_head_green_mid.jpg);
	background-repeat:repeat-x;
	padding:0px;
	height: 24px;
	font-size: 13px;	
}

.table_head_green_right
{
	background-position:top;
	background-image:url(/CACI/Image/table_head_green_right.jpg); 
	background-repeat:no-repeat;
	border-collapse: collapse;
	border: 0px;
	width:226px;
	height: 24px;
	font-size:12px; 
	color:#D90000;
	text-align:right;
	padding:0px;
}

/*淺綠色表格資料區域*/
.table_lightGreen
{
   background-color:#e5f6ed;
   border-collapse : collapse;
   border-color: #5bc65b; 
   border-style: solid;
}

.table_data_lightGreen_head
{
	background-color:#e5f6ed;
	border-bottom-width:1px;
	border-right-width:1px;
	border-top-width:1px;
	height:28px;
}

.table_data_lightGreen_head_fun_left
{
	background-color:#e5f6ed;
	border-left-width:1px;
	border-right-width:0px;
	height:28px;
}

.table_data_lightGreen_head_fun_mid
{
	background-color:#e5f6ed;
	border-left-width:0px;
	border-right-width:0px;
	height:28px;
}

.table_data_lightGreen_head_fun_right
{
	background-color:#e5f6ed;
    border-left-width:0px;
    height:28px;
}

.table_data_lightGreen_head_fun_all
{
	background-color:#e5f6ed;
    border-left-width:1px;
    border-right-width:1px;
    height:28px;
}

/*淺黃色表格資料區域*/
.table_lightYellow
{
   background-color:#ffffc6;
   border-collapse : collapse;
   border-color: #ffc65b; 
   border-style: solid;
}

.table_data_lightYellow_head
{
	background-color:#ffffc6;
	border-bottom-width:1px;
	border-right-width:1px;
	border-top-width:1px;
	height:28px;
}

.table_data_lightYellow_head_fun_left
{
	background-color:#ffffc6;
	border-left-width:1px;
	border-right-width:0px;
	height:28px;
}

.table_data_lightYellow_head_fun_mid
{
	background-color:#ffffc6;
	border-left-width:0px;
	border-right-width:0px;
	height:28px;
}

.table_data_lightYellow_head_fun_right
{
	background-color:#ffffc6;
    border-left-width:0px;
    height:28px;
}

.table_data_lightYellow_head_fun_all
{
	background-color:#ffffc6;
    border-left-width:1px;
    border-right-width:1px;
    height:28px;
}

/*淺紅色表格資料區域*/
.table_lightPink
{
   background-color:#ffc6c6;
   border-collapse : collapse;
   border-color: #ff9090; 
   border-style: solid;
}

.table_data_lightPink_head
{
	background-color:#ffc6c6;
	border-bottom-width:1px;
	border-right-width:1px;
	border-top-width:1px;
	height:28px;
}

.table_data_lightPink_head_fun_left
{
	background-color:#ffc6c6;
	border-left-width:1px;
	border-right-width:0px;
	height:28px;
}

.table_data_lightPink_head_fun_mid
{
	background-color:#ffc6c6;
	border-left-width:0px;
	border-right-width:0px;
	height:28px;
}

.table_data_lightPink_head_fun_right
{
	background-color:#ffc6c6;
    border-left-width:0px;
    height:28px;
}

.table_data_lightPink_head_fun_all
{
	background-color:#ffc6c6;
    border-left-width:1px;
    border-right-width:1px;
    height:28px;
}

/*淺藍色表格資料區域*/
.table_lightblue
{
   background-color:#DEE9FC;
   border-collapse : collapse;
   border-color: #95D1F9; 
   border-style: solid;
}

.table_data_lightblue_head
{
	background-color:#C5E2F9;
	border-bottom-width:1px;
	border-right-width:1px;
	border-top-width:1px;
	height:28px;
}

.table_data_lightblue_head_fun_left
{
	background-color:#C5E2F9;
	border-left-width:1px;
	border-right-width:0px;
	height:28px;
}

.table_data_lightblue_head_fun_mid
{
	background-color:#C5E2F9;
	border-left-width:0px;
	border-right-width:0px;
	height:28px;
}

.table_data_lightblue_head_fun_right
{
	background-color:#C5E2F9;
    border-left-width:0px;
    height:28px;
}

.table_data_lightblue_head_fun_all
{
	background-color:#C5E2F9;
    border-left-width:1px;
    border-right-width:1px;
    height:28px;
}

/*黃色表格資料區域*/
.table_data_yellow_head
{
	background-color:#FFD26E;
	border-bottom-width:1px;
	border-bottom-color:#ffffff;
	border-right-width:1px;
	border-right-color:#ffffff;
	border-top-width:1px;
	border-top-color:#ffffff;
}

.table_data_yellow_head_fun_left
{
	background-color:#A7D0F9;
	border-left-width:1px;
	border-right-width:0px;
	height:30px;
}

.table_data_yellow_head_fun_mid
{
	background-color:#A7D0F9;
	border-left-width:0px;
	border-right-width:0px;
	height:30px;
}

.table_data_yellow_head_fun_right
{
	background-color:#A7D0F9;
    border-left-width:0px;
    height:30px;
}

.table_data_yellow_data
{
	background-color:#FFFFFF;
}

.table_data_yellow_data_fun_left
{
	background-color:#ffffff;
	border-bottom-width:1px;
	border-bottom-color:#ffffff;
	border-left-width:1px;
	border-left-color:#ffffff;
	border-right-width:0px;
	border-right-color:#ffffff; 
	text-align:center;
	padding-top:6px;
}
.table_data_yellow_data_fun_mid
{
	background-color:#FFFFFF;
	border-bottom-width:1px;
	border-bottom-color:#FFFFFF;
	border-right-width:0px;
	border-right-color:#FFFFFF;
	border-left-width:0px;
	border-left-color:#FFFFFF; 
	text-align:center;
	padding-top:6px;
}
.table_data_yellow_data_fun_right
{
	background-color:#FFFFFF;
	border-bottom-width:1px;
	border-bottom-color:#FFFFFF;
	border-right-width:1px;
	border-right-color:#FFFFFF;
	border-left-width:0px;
	border-left-color:#FFFFFF; 
	text-align:center;
	padding-top:6px;
}

.table_data_yellow_data_style
{
   Font-Size:14px;    
}

.br
{
	height:10px;
}

.inScroll	
{
 SCROLLBAR-FACE-COLOR: #fcd890;
 SCROLLBAR-HIGHLIGHT-COLOR: #fcfcb4;
 SCROLLBAR-SHADOW-COLOR: #fc9048;
 SCROLLBAR-3DLIGHT-COLOR: #fc9048;
 SCROLLBAR-ARROW-COLOR: gray;
 SCROLLBAR-TRACK-COLOR: #fcd8b4;
 SCROLLBAR-DARKSHADOW-COLOR: #fcfcfc;
 SCROLLBAR-BASE-COLOR: #fcfcb4;
 }
 
 /*按鈕左空10px設定*/
.tb_btn
{
	border-collapse: collapse;
	border: 0px;
	text-align:right;
	font-size:13px; 	
	padding-left:10px;
	padding-right:0px;	
}
/*按鈕間距設定*/
.btn_style
{
	border-collapse: collapse;
	border: 0px;
	padding-right:0px;
	padding-left:1px;
	text-align:right;
}

.waterText
{
	color : #d1d1d1;
}

/*表格大小設定*/
.tb_size
{
	border-collapse:collapse;
	border: 0px;
}

/*查詢結果外框*/
.search_result
{
    border:1px solid; 
    border-color: #CECECE; 
    padding:20px 6px 10px 6px; 
    margin-top:20px;
    border-style: solid; 
    width: 737px;
}

/*detail新增明細*/
.detail_result
{
    border:1px solid; 
    border-color: #CECECE; 
    margin:20px 0px 10px 0px; 
    padding:20px 6px 5px 6px;
}

/*detail新增明細*/
.detail_result_more
{
    border:1px solid; 
    border-color: #CECECE; 
    margin:35px 0px 10px 0px; 
    padding:20px 6px 5px 6px;
}

/*navigation 樣式*/
.navigation_style
{  
    font-size:14px;  
    color:#0B6B9B;
}

.navigation_style a:visited
{
    color:#0049FF;
}

.table_data_white_data
{
	background-color:#FFFFFF;
}

/*聯絡資訊列表筆數*/
.table_data_count
{
    float:left; 
    position: absolute; 
    margin: 10px 10px 0px 680px; 
    background-color:white;
}

/*Detail資訊*/
.table_detail_info
{
    border:1px solid; 
    border-color: #CECECE; 
    margin:10px 0px 10px 0px; 
    padding:20px 6px 5px 6px; 
    border-style: solid;
}